### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
#A1.
import pandas as pd

# Creating the series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable and print it.

In [3]:
#A2. 
import pandas as pd
#list of 10 elements
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list to a pandas series
series_from_list = pd.Series(data_list)

print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

| Name   | Age | Gender |
|--------|-----|--------|
| Alice  | 25  | Female |
| Bob    | 30  | Male   |
| Claire | 27  | Female |

Then, print the DataFrame.

In [4]:
#A3.
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.

A4. A **DataFrame** in pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). 
A **Series** is a one-dimensional array-like object containing an array of data and an associated array of data labels, called its index.

**Example:**

In [5]:
series_example = pd.Series([1, 2, 3, 4, 5])
data = {
    'Column1': [1, 2, 3],
    'Column2': ['A', 'B', 'C']
}
df_example = pd.DataFrame(data)

print("Series:")
print(series_example)
print("\nDataFrame:")
print(df_example)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
   Column1 Column2
0        1       A
1        2       B
2        3       C

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

A5. Some common functions to manipulate data in a Pandas DataFrame include:
- `head()`: To view the first few rows.
- `tail()`: To view the last few rows.
- `describe()`: To get summary statistics.
- `drop()`: To remove rows or columns.
- `loc[]` and `iloc[]`: To access specific rows and columns.
- `groupby()`: To group data and perform aggregate functions.
- `merge()`: To merge DataFrames.

**Example:**

In [6]:
#Using groupby() to group data by a column and calculate the mean:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27, 26, 31, 28],
    'Score': [85, 90, 88, 86, 91, 89]
}
df = pd.DataFrame(data)

# Grouping by 'Name' and calculating the mean of 'Age' and 'Score'
grouped_df = df.groupby('Name').mean()

print(grouped_df)

         Age  Score
Name
Alice   25.5   85.5
Bob     30.5   90.5
Claire  27.5   88.5


### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A6. All three of them **Series**, **DataFrame** and **Panel** are mutable in nature. This means users can easy enter, update & delete the data inside them.
The **Panel** has been deprecated and is no longer recommended for use.


### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
#A7. 
import pandas as pd
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, we create three Series: `names`, `ages`, and `genders`, each representing a column of the DataFrame. We then create a DataFrame by passing a dictionary with the Series as values and the column names as keys.