Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is an organized collection of structured information or data, typically stored electronically in a computer system. Databases are managed by Database Management Systems (DBMS), which allow for the storage, retrieval, updating, and management of data.

SQL Databases:

Relational databases.
Use Structured Query Language (SQL) for defining and manipulating data.
Schema-based: requires a predefined schema before storing data.
ACID (Atomicity, Consistency, Isolation, Durability) compliance for transaction management.
Examples: MySQL, PostgreSQL, Oracle, MS SQL Server.

NoSQL Databases:

Non-relational databases.
Use various data models: document, key-value, graph, column-family.
Schema-less: data can be stored without a predefined schema.
Typically designed for distributed data stores for large-scale data needs.
Examples: MongoDB (document), Redis (key-value), Cassandra (column-family), Neo4j (graph).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. DDL or Data Definition Language statements are used to define and modify database structures such as tables, indexes, and schema. DDL statements do not manipulate data within tables.

1. CREATE: Used to create new database objects such as tables, indexes, and databases.

Ex-
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(50)
);

2. DROP: Used to delete existing database objects.

Ex-
DROP TABLE employees;

3. ALTER: Used to modify existing database objects.

Ex-
ALTER TABLE employees ADD COLUMN salary DECIMAL(10, 2);

4. TRUNCATE: Used to remove all records from a table but keep the table structure for future use.

Ex-
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3. DML or Data Manipulation Language statements are used to manipulate the data stored in the database. It includes operations such as INSERT, UPDATE, and DELETE.

1. INSERT: Adds new records to a table.

Ex- INSERT INTO employees (id, name, position, salary) VALUES (1, 'Alice', 'Manager', 60000.00);

2. UPDATE: Modifies existing records in a table.

Ex- UPDATE employees SET salary = 65000.00 WHERE id = 1;

3. DELETE: Removes records from a table.

Ex- DELETE FROM employees WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

A4. DQL (Data Query Language): DQL statements are used to query the database and retrieve data from one or more tables. The primary DQL statement is SELECT.

SELECT: Retrieves data from one or more tables.

SELECT name, position, salary FROM employees WHERE salary > 50000.00;

Q5. Explain Primary Key and Foreign Key.

A5. Both are the very important constraints of the tables.
1. Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. It must contain unique values and cannot contain NULLs.

CREATE TABLE departments (
    dept_id INT PRIMARY KEY,
    dept_name VARCHAR(100)
);

2. Foreign Key: A foreign key is a column or a set of columns in one table that is used to refer to the primary key in another table. It establishes a link between the data in the two tables.

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(50),
    dept_id INT,
    FOREIGN KEY (dept_id) REFERENCES departments(dept_id)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

A6. cursor(): The cursor() method creates a cursor object which is used to interact with the MySQL database. 
              Cursors are used to execute SQL statements and fetch data from the database.

execute(): The execute() method is used to execute a single SQL statement. It takes an SQL query string as an argument.

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host='localhost',
    user='your_username',
    password='your_password',
    database='your_database'
)

cursor = connection.cursor()

cursor.execute("SELECT * FROM employees")

for row in cursor.fetchall():
    print(row)

cursor.close()
connection.close()


Q7. Give the order of execution of SQL clauses in an SQL query.
The order of execution of SQL clauses is as follows:

FROM: Specifies the table to query.
JOIN: Joins tables based on a condition.
WHERE: Filters rows based on a condition.
GROUP BY: Groups rows sharing a property so that an aggregate function can be applied to each group.
HAVING: Filters groups based on a condition.
SELECT: Specifies which columns to include in the result.
DISTINCT: Removes duplicate rows from the result.
ORDER BY: Specifies the order of the result set.
LIMIT/OFFSET: Limits the number of rows returned.
Example query showing the order:


SELECT column1, aggregate_function(column2)
FROM table1
JOIN table2 ON table1.id = table2.id
WHERE condition
GROUP BY column1
HAVING aggregate_function(column2) > value
ORDER BY column1
LIMIT 10 OFFSET 20;